<h2>Edit Collection</h2>

<%= form_for @collection do |f| %>
  <div>
    <%= f.label "Name" %>
    <%= f.text_field :name %><br>
  </div>
  <div>
    <%= f.label "Description" %>
    <%= f.text_area :description %><br>
  </div>

  <div>
    <%= f.label "Illustration #1:" %><br>
    <%= f.file_field :illustration01 %><br>
    <%= image_tag(@collection.illustration01.url, :width=>200) if @collection.illustration01? %>
  </div>
  <div>
    <%= f.label "Illustration #2:" %><br>
    <%= f.file_field :illustration02 %><br>
    <%= image_tag(@collection.illustration02.url, :width=>200) if @collection.illustration02? %>
  </div>
  <div>
    <%= f.label "Illustration #3:" %><br>
    <%= f.file_field :illustration03 %><br>
    <%= image_tag(@collection.illustration03.url, :width=>200) if @collection.illustration03? %>
  </div>
  <div>
    <%= f.label "Illustration #4:" %><br>
    <%= f.file_field :illustration04 %><br>
    <%= image_tag(@collection.illustration04.url, :width=>200) if @collection.illustration04? %>
  </div>
  <div>
    <%= f.label "Illustration #5:" %><br>
    <%= f.file_field :illustration05 %><br>
    <%= image_tag(@collection.illustration05.url, :width=>200) if @collection.illustration05? %>
  </div>
  <div>
    <%= f.label "Illustration #6:" %><br>
    <%= f.file_field :illustration06 %><br>
    <%= image_tag(@collection.illustration06.url, :width=>200) if @collection.illustration06? %>
  </div>
  <div>
    <%= f.label "Illustration #7:" %><br>
    <%= f.file_field :illustration07 %><br>
    <%= image_tag(@collection.illustration07.url, :width=>200) if @collection.illustration07? %>
  </div>
  <div>
    <%= f.label "Illustration #8:" %><br>
    <%= f.file_field :illustration08 %><br>
    <%= image_tag(@collection.illustration08.url, :width=>200) if @collection.illustration08? %>
  </div>
  <div>
    <%= f.label "Illustration #9:" %><br>
    <%= f.file_field :illustration09 %><br>
    <%= image_tag(@collection.illustration09.url, :width=>200) if @collection.illustration09? %>
  </div>

  <%= f.submit "Save", class: "btn" %>
<% end %>
