<h1>New Collection</h1>

<%= form_for @collection do |f| %>
  Name: <%= f.text_field :name %><br>
  Description: <%= f.text_area :description %><br>
  Illustration #1: <%= f.file_field :illustration01 %><br>
  Illustration #2: <%= f.file_field :illustration02 %><br>
  Illustration #3: <%= f.file_field :illustration03 %><br>
  Illustration #4: <%= f.file_field :illustration04 %><br>
  Illustration #5: <%= f.file_field :illustration05 %><br>
  Illustration #6: <%= f.file_field :illustration06 %><br>
  Illustration #7: <%= f.file_field :illustration07 %><br>
  Illustration #8: <%= f.file_field :illustration08 %><br>
  Illustration #9: <%= f.file_field :illustration09 %><br>
  Illustration #10: <%= f.file_field :illustration10 %><br>
  <%= f.submit "Submit" %>
<% end %>
