<h2>Edit Profile</h2>

<%= form_for @user, url: update_user_path(@user.username) do |f| %>
  <div>
    <%= f.label "First Name" %>
    <%= f.text_field :first_name %>
  </div>
  <div>
    <%= f.label "Last Name" %>
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.label "Email" %>
    <%= f.email_field :email_address %>
  </div>
  <div>
    <%= f.label "Artist Statement" %>
    <%= f.text_area :artist_statement %>
  </div>
  <div>
    <%= f.label "Bio" %>
    <%= f.text_area :bio %>
  </div>
  <div>
    Avatar: <%= f.file_field :avatar %><br>
    <%= image_tag(@user.avatar_url, :width=>200) if @user.avatar? %>
  </div>
  <%= f.submit "Save Changes", class: "btn" %>
<% end %>
