<% user = current_user %>
<% is_owner = user ? user.id == @user.id : false %>

<div class="component container">
  <h2>
    <span class="custom-font bio-logo">peached.ink</span><br>
    <span class="custom-font is-bio">is</span><br>
    <%= "#{@user.first_name} #{@user.last_name}" %>
  </h2>

  <% if is_owner %>
    <%= button_to "Edit Profile", edit_user_path(@user.username), method: :get, class: "btn btn-warning" %>
  <% end %>

  <div class="row content-padding">
    <div class="container">
      <div class="col-md-8 bio float-right">
        <p><span class="stat">Artist Statement</span><br><%= @user.artist_statement %></p>
        <p><span class="stat">Bio</span><br><%= h(@user.bio).gsub("\r\n", "<br>").html_safe %></p>
      </div>

      <div class="col-md-4 float-left">
        <%= image_tag(@user.avatar.url, class: "img-fluid img-thumbnail") if @user.avatar? %>
      </div>
    </div>
  </div>
</div>
