<div>
  <%= link_to "peached.ink", root_path %>
  <br>
  <%= link_to "Collections", collections_path %><br>
  <%= link_to "About", user_path %><br>
  <%= link_to "Contact", "mailto:keansaetern@gmail.com" %><br>
  <%= link_to "Instagram", "https://www.instagram.com/peached.ink", :target => "_blank" %>
</div>
