<div class="ui top fixed menu">
  <div class="item">
    <img src="/images/logo.png">
  </div>
  <a class="item">Features</a>
  <a class="item">Testimonials</a>
  <a class="item">Sign-in</a>
</div>
<div class="ui bottom fixed menu">
  <div class="item">
    <img src="/images/logo.png">
  </div>
  <a class="item">Features</a>
  <a class="item">Testimonials</a>
  <a class="item">Sign-in</a>
</div>

<div>
  <%= link_to "peached.ink", root_path %>
  <br>
  <%= link_to "Collections", collections_path %><br>
  <%= link_to "About", user_path %><br>
  <%= link_to "Contact", "mailto:keansaetern@gmail.com" %><br>
  <%= link_to "Instagram", "https://www.instagram.com/peached.ink", :target => "_blank" %>
</div>
