<% user = current_user %>

<div class="sidenav-links">
  <h4><b><%= link_to "peached.ink", root_path, class: "brand-logo" %></b></h4>

  <li><h5><%= link_to "collections", collections_path %></h5></li>
  <li><h5><%= link_to "about", user_path %></h5></li>
  <li><h5><%= link_to "contact", "mailto:keansaetern@gmail.com" %></h5></li>
  <li><h5><%= link_to "instagram", "https://www.instagram.com/peached.ink", :target => "_blank" %></h5></li>
  <% if user %>
    <li><h5><%= link_to "log out", logout_path %></h5></li>
  <% end %>

</div>
