<!DOCTYPE html>
<html>
  <head>
    <title>peached.ink | Illustrations by Kean Saetern</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    peached.ink
    <br>
    <%= link_to "Collections", collections_path %><br>
    <%= link_to "About", user_path %><br>
    <%= link_to "Contact", "mailto:keansaetern@gmail.com" %><br>
    <%= link_to "Instagram", "https://www.instagram.com/peached.ink" %>
    <%= yield %>
  </body>
</html>
