<!DOCTYPE html>
<html>
  <head>
    <title>peached.ink | Illustrations by Kean Saetern</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'header' %>

    <div>
      <% flash.each do |key, value| %>
        <div class="center">
          <%= value %>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
