<!DOCTYPE html>
<html>
  <head>
    <title>peached.ink | Illustrations by Kean Saetern</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'header' %>

    <div>
      <% flash.each do |key, value| %>
        <div class="center">
          <%= value %>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
