<!DOCTYPE html>
<html>
  <head>
    <title>peached.ink | Illustrations by Kean Saetern</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'header' %>

    <div>
      <% flash.each do |key, value| %>
        <div class="center">
          <%= value %>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
