<!DOCTYPE html>
<html>
  <head>
    <title>peached.ink | Illustrations by Kean Saetern</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <div>
    <%= link_to "peached.ink", root_path %>
    <br>
    <%= link_to "Collections", collections_path %><br>
    <%= link_to "About", user_path %><br>
    <%= link_to "Contact", "mailto:keansaetern@gmail.com" %><br>
    <%= link_to "Instagram", "https://www.instagram.com/peached.ink", :target => "_blank" %>
  </div>

  <div>
    <% flash.each do |key, value| %>
      <div class="center">
        <%= value %>
      </div>
    <% end %>
  </div>

    <%= yield %>
  </body>
</html>
